<!-- <div class="modal fade" id="borrowModal" tabindex="-1" role="dialog" aria-labelledby="borrowModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="borrowModalLabel">Ödünç Alma</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="borrowedBookForm">
                    <div class="form-group">
                        <label for="bookId">Kitap ID</label>
                        <input type="text" class="form-control" id="bookId" [(ngModel)]="bookId" required />
                    </div>
                    <div class="form-group">
                        <label for="borrowDate">Ödünç Alma Tarihi</label>
                        <input type="date" class="form-control" id="borrowDate" [(ngModel)]="borrowDate" required />
                    </div>
                    <div class="form-group">
                        <label for="returnDate">Döndürme Tarihi</label>
                        <input type="date" class="form-control" id="returnDate" [(ngModel)]="returnDate" required />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
                        <button type="submit" class="btn btn-primary">Ödünç Al</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> -->